.inicio-container {
  display: flex;
  margin-top: -75px;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
}

.inicio-up,
.inicio-down {
  margin: 0;
  padding: 0;
  margin-bottom: -50px;
}


.inicio-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px; /* Ajuste este valor conforme necessário para o espaçamento desejado */
}

.data-container h1,
.nomes-container img {
  margin: 0; /* Remove as margens padrão */
  padding: 0; /* Remove o padding padrão */
}

.data-container{
  font-size: 65px;
  margin-bottom: -15px;
}

h1{
  font-size: 100px;
}

.nomes-container{
  font-size: 50px;
}

/* Media queries para tablets */
@media screen and (max-width: 1024px) {
  .inicio-container{
    margin: 0;
    padding: 0;
    margin-top: -75px;
    margin-bottom: -100px;
    max-width: 100%;
  }

  .data-container {
    font-size: 50px; /* Reduz o tamanho da fonte para tablets */
    margin-bottom: -20px;
  }

  .nomes-container {
    font-size: 40px; /* Reduz o tamanho da fonte para tablets */
  }

  .inicio-down {
    gap: 10px; /* Ajusta o espaçamento para tablets */
  }
}

/* Media queries para celulares */
@media screen and (max-width: 750px) {
  .inicio-container{
    margin: 0;
    padding: 0;
    margin-top: -25px;
    margin-bottom: 100px;

  }

  .logo-img {
    width: 150px;
    height: 250px;
    margin-bottom: 50px;
  }

  .assinatura-img {
    width: 350px;
    height: 60px;
  }

  .inicio-up {
    padding: 10px;
  }

  .inicio-down {
    padding: 10px;
  }

  .data-container h1 {
    font-size: 1.5em;
    margin-bottom: 55px;
  }

  @media screen and (max-width: 360px){
    .inicio-container{
      margin: 0;
      padding: 0;
      margin-top: -75px;
      margin-bottom: 50px;

    }

    .logo-img {
      width: 150px;
      height: 200px;
      margin-bottom: 50px;
    }


    .assinatura-img {
      width: 250px;
      height: 50px;
    }

    .inicio-up {
      padding: 10px;
    }

    .inicio-down {
      padding: 10px;
    }

    .data-container h1 {
      font-size: 1.1em;
      margin-bottom: 50px;
    }

  }


}
