.inicio-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
}

.inicio-up,
.inicio-down {
  margin: 0;
  padding: 0;
  margin-bottom: -50px;
}


.inicio-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px; /* Ajuste este valor conforme necessário para o espaçamento desejado */
}

.data-container h1,
.nomes-container img {
  margin: 0; /* Remove as margens padrão */
  padding: 0; /* Remove o padding padrão */
}

.data-container{
  font-size: 65px;
  margin-bottom: -30px;
}

.nomes-container{
  font-size: 50px;
}

/* Media queries para tablets */
@media (max-width: 1024px) {
  .inicio-container{
    margin: 0;
    padding: 0;
    margin-bottom: -150px;
    max-width: 100%;
  }

  .data-container {
    font-size: 50px; /* Reduz o tamanho da fonte para tablets */
    margin-bottom: -20px;
  }

  .nomes-container {
    font-size: 40px; /* Reduz o tamanho da fonte para tablets */
  }

  .inicio-down {
    gap: 10px; /* Ajusta o espaçamento para tablets */
  }
}

/* Media queries para celulares */
@media (max-width: 768px) {
  .inicio-container{
    margin: 0;
    padding: 0;
    margin-bottom: 200px;
    max-width: 100%;
  }

  .inicio-up a > img{
    width: 200px;
    height: 300px;
    margin-bottom: 70px;
  }

  .data-container {
    font-size: 35px; /* Reduz o tamanho da fonte para celulares */
    margin-bottom: 50px;

  }

  .nomes-container img{
    width: 400px;

  }

  .nomes-container {
    font-size: 30px; /* Reduz o tamanho da fonte para celulares */
    margin-bottom: -100px;
  }

  .inicio-down {
    gap: 15px; /* Ajusta o espaçamento para celulares */
  }
}
