<div id="inicio" class="inicio-container">
  <h1></h1>
  <div class="inicio-up">
    <a href="">
      <img class="logo-img" src="../../../assets/logos/Logo_Circulo.png" alt="logo D+D" width="170px" height="250px">
    </a>
  </div>

  <div class="inicio-down">
    <div class="data-container">
      <h1>21.12.2024</h1>
    </div>
    <div class="nomes-container">
      <img class="assinatura-img" src="../../../assets/logos/assinatura.png" alt="danilo & débora" width="500px" height="80px">
    </div>
  </div>
</div>

