.galeria-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ajuste conforme necessário */
  margin-bottom: -100px;
  margin-top: -50px;
}

.top-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-content {
  display: flex;
  align-items: center;
}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Faz com que a parte inferior ocupe o espaço restante */
  padding: 20px;
  overflow: hidden;
}

.left-container h6{
  font-size: 15px;
  width: 400px;
}

.left-container h5 {
  font-size: 18px;
}

.right-container h2{
  font-size: 35px;
}

.bottom-container img {
  margin: 0 10px; /* Espaçamento entre as imagens */
  max-width: 100%;
  height: auto;
  width: 300px;
}

@media (max-width: 1024px){
  .galeria-container{
    margin-top: -10%;
    margin-bottom: -20%;
  }

  .right-container{
    font-size: 35px;
  }

  .left-container h6{
    font-size: 20px;
    width: 500px;
    margin-bottom: -20px;
  }

  .left-container h5{
    font-size: 20px;
  }

  .left-container{
    font-size: 20px;
    margin-top: 50px;
    margin-right: 200px;
  }

  .bottom-container img{
    height: 200px;
    width: 225px;
  }
}
