<div id="galeria" class="galeria-container">
  <h1></h1>
  <div class="top-container">
    <div class="left-container">
      <br>
      <br>
      <h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Nullam aliquet, nulla nec fermentum pharetra, diam diam commodo elit, eu ultrices. </h5>
      <h5> Cícero, 45 a.C.</h5>
    </div>

    <div class="right-container">
      <h2>GALERIA</h2>
    </div>
  </div>

  <div class="bottom-container">
    <img src="../../../assets/img/img01.jpg" alt="" width="200px">
    <img src="../../../assets/img/img01.jpg" alt="" width="200px">
    <img src="../../../assets/img/img01.jpg" alt="" width="200px">
  </div>
</div>
