<div id="galeria" class="galeria-container">
  <br>
  <br>
  <br>
  <div class="top-container">
    <div class="left-container">
      <br>
      <br>
      <h6>
        "Nenhum espaço de tempo com você seria suficiente... <br>comecemos com o para sempre." </h6>
      <h5>Stephanie Meyer, 2008.</h5>
    </div>

    <div class="right-container">
      <h2>GALERIA</h2>
    </div>
  </div>

  <div class="bottom-container">
    <img src="../../../assets/img/Debora-10.jpg" alt="" width="200px">
    <img src="../../../assets/img/Debora-11.jpg" alt="" width="200px">
    <img src="../../../assets/img/Debora-13.jpg" alt="" width="200px">
    <img src="../../../assets/img/Debora-15.jpg" alt="" width="200px">
  </div>
</div>
