.endereco-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: -100px;
  margin-top: -50px;
}

.left_container {
  flex: 1;
  margin-right: 20px;
}

.right_container {
  flex: 1;
  margin-top: 15%;
  margin-right: 5%;
}


.right_container h5 {
  text-align: center;
}

.right_container img{
  margin-right: 20px;
}

.right_container h5 {
  font-size: 20px;
  width: 250px;
  margin-left: 100px;
}

.cerimonia{
  width: 500px;
}

.coliseum{
  margin-top: -20px;
  margin-left: 170px;
}

@media (max-width: 1024px) {
  .endereco-container{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    margin-bottom: -200px;
    max-width: 100%;
  }

  .right_container{
    margin-top: 250px;
  }

  .left_container h2{
    font-size: 35px;
  }

  .cerimonia {
    width: 300px;
    margin-right: -900px;
    margin-bottom: -20px;
  }

  .right_container h5{
    margin-left: 20px;
  }

  .coliseum{
    margin-top: 15px;
    margin-left: 80px;
  }
}
