<div class="endereco-container">
  <div id="endereco" class="left_container">
    <br>
    <br>
    <br>
    <br>
    <h2>COMO CHEGAR</h2>
    <br>
    <br>
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.5066985474523!2d-43.3969854!3d-22.8946744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bd8af9156436b%3A0x6a33a0fb7e60e09f!2sColiseum%20Eventos!5e0!3m2!1spt-BR!2sbr!4v1718987256172!5m2!1spt-BR!2sbr" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <div class="right_container">
    <img class="cerimonia" src="../../../assets/logos/Cerimônia - LP - D&D.png" alt="">
    <h5>Rua Euzébio de Almeida, 2560 - Jardim Sulacap, Rio de Janeiro - RJ, 21741-171</h5>
    <!-- <img class="coliseum" src="../../../assets/logos/coliseum-logo.png" alt="" width="125px"> -->
  </div>
</div>
