<div class="endereco-container">
  <div id="endereco" class="left_container">
    <br>
    <br>
    <br>
    <br>
    <h2>COMO CHEGAR</h2>
    <br>
    <br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.1228885022565!2d12.489655975140943!3d41.89021416465701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f61b6532013ad%3A0x28f1c82e908503c4!2sColiseu!5e0!3m2!1spt-BR!2sbr!4v1718795847436!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <div class="right_container">
    <h4>Cerimônia & Recepção</h4>
    <h5>Endereço do Salão</h5>
  </div>
</div>
