<div class="header-container">
  <div class="div_header_right">
    <a href="">
      <img src="../../../assets/logos/MONOGRAMA BODAS DE ZINCO - DANILO E DÉBORA 2.cdr.png" alt="logoD&D" width="100px" height="50px">
    </a>
  </div>

  <!-- Menu de navegação para dispositivos móveis -->
  <div class="mobile-menu-toggle" (click)="toggleMenu()">
    <i class="fas fa-bars"></i> <!-- Ícone do menu (use um ícone de menu como FontAwesome ou outra biblioteca de ícones) -->
  </div>


  <div class="div_header_left" [ngClass]="{ 'active': isMenuOpen }">
    <a href="#inicio">
      <li>INICIO</li>
    </a>

    <a href="#nossa-historia">
      <li>NOSSA HISTÓRIA</li>
    </a>

    <a href="#galeria">
      <li>GALERIA</li>
    </a>

    <a href="#presenca">
      <li>CONFIRME SUA PRESENÇA</li>
    </a>

    <a href="#endereco">
      <li>COMO CHEGAR</li>
    </a>
  </div>

</div>
