.header-container {
  font-size: 12px;
  font-family: centaur;
  position: fixed;
  top: 0;
  height: 70px;
  width: 90%;
  z-index: 1000;
  padding: 10px 0;
  background-color: white;
  display: flex;
  justify-content: space-between; /* Opcional: distribui espaço igualmente entre as divs */
  align-items: center; /* Centraliza verticalmente os itens dentro do contêiner */
}

.div_header_right {
  width: 50%;
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  height: 100px; /* Defina a altura do contêiner conforme necessário */
}

.div_header_right a {
  text-decoration: none; /* Remove a sublinhado dos links */
  font-size: 50px;
}

.div_header_right img {
  display: block; /* Remove o espaçamento extra em torno de imagens inline */
}

.div_header_left {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* Espaçamento entre os itens, ajuste conforme necessário */
}

.div_header_left a {
  color: black;
  text-decoration: none; /* Remove a sublinhado dos links */
}

.div_header_left li {
  list-style: none; /* Remove os marcadores das listas */
  padding: 1px; /* Espaçamento interno dos itens, ajuste conforme necessário */
}


li {
  padding: 10px 20px;
  margin: 5px 0;
  border-radius: 15px; /* Bordas arredondadas */
  transition: background-color 0.5s, border-radius 0.5s; /* Suaviza a transição */
}

a > li:hover{
  background-color: #09063F;
  color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: normal;
}
