<router-outlet></router-outlet>

<div class="parent-header">
  <div class="header-div">
    <app-header></app-header>
  </div>
</div>

<div class="parent-body">
  <div class="body-div">
    <app-inicio></app-inicio>
  </div>

  <div class="hist-div">
    <hr>
    <app-historia></app-historia>
  </div>

  <div class="presen-div">
    <hr>
    <app-presenca></app-presenca>
  </div>

  <div class="endere-div">
    <hr>
    <app-endereco></app-endereco>
  </div>

  <div class="galr-div">
    <hr>
    <app-galeria></app-galeria>
  </div>

  <div class="footer-div">
      <app-footer></app-footer>
  </div>
</div>
