html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.parent-header{
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

.header-div{
  width: 100%;
  /* border: 2px solid black; */
}

.parent-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-div, .hist-div, .galr-div, .presen-div, .endere-div, .footer-div{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 200px; /* Centraliza horizontalmente e adiciona espaçamento abaixo */
}

@media (max-width: 1028px){
  .body-div, .hist-div, .galr-div, .presen-div, .endere-div, .footer-div{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto 200px; /* Centraliza horizontalmente e adiciona espaçamento abaixo */
  }
}

@media (max-width: 768px){
  .body-div, .hist-div, .galr-div, .presen-div, .endere-div, .footer-div{
    width: 85%;
    max-width: 1000px;
    margin: 0 auto 200px; /* Centraliza horizontalmente e adiciona espaçamento abaixo */
  }

  @media (max-width: 360px){
    .body-div, .hist-div, .galr-div, .presen-div, .endere-div, .footer-div{
      width: 75%;
      max-width: 1000px;
      margin: 0 auto 200px; /* Centraliza horizontalmente e adiciona espaçamento abaixo */
    }
  }
}
