<div class="top-line"></div>

<div id="presenca" class="presenca-container">
  <h1></h1>
  <div class="top-container">
    <img src="../../../assets/logos/MONOGRAMA BODAS DE ZINCO - DANILO E DÉBORA 2.cdr.png" alt="" width="150px">
    <p class="citacao-biblia">"Para que todos vejam, e saibam,<br>e considerem, e justamente entendam<br>que a mão do senhor fez isto."</p>
    <span>(Isaías 41:20)</span>
    <br>
    <br>
    <br>
    <img class="assinatura" src="../../../assets/logos/assinatura.png" alt="" height=65>
    <p class="text1">Convidam para a comemoração das suas<br><strong>Bodas de Zinco</strong> - 10 anos de casados</p>
    <p class="endereco-presenca">A realizar-se às <strong style="font-size: 20px;">16 horas e 30 minutos</strong> do dia<br><strong style="font-size: 20px;">21 de Dezembro de 2024, no Coliseum Eventos.</strong></p>
    <span><strong style="font-size: 20px;">Traje: Esporte Fino</strong></span>
    <!-- <img class="convite" src="../../../assets/img/CONVITE BODAS DANILO E DÉBORA.png" alt=""> -->
  </div>

  <h1></h1>

  <div class="bottom-container">
    <div class="confirmation-container">
      <span>⚠️<strong> Confirmações pelo link abaixo até 10/11.</strong></span>
      <br>
      <span><strong>Após essa data, confirme a presença no botão ao lado:</strong></span>
      <a class="social" href="" target="_blank" title="whatsapp">
        <lucide-icon name="message-circle-heart" [size]="30" class="my-icon"></lucide-icon>
      </a>
    </div>
    <br>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdImMspWglgsu744HmHlziMppvLvo9apYmbXMvkkGxYY-pIIQ/viewform" target="_blank">
      <!-- <img class="check-icon" src="../../../assets/Icons/check.png" alt=""> -->
      <li>Confirme sua Presença</li>
    </a>
    <a href="https://listas.casasbahia.com.br/bodasdezincodeboraedanilolista" target="_blank">
      <li>Lista de Presentes</li>
    </a>
  </div>
</div>

<div class="bottom-line"></div>


