<div class="top-line"></div>

<div id="presenca" class="presenca-container">
  <h1></h1>
  <div class="top-container">
    <img src="../../../assets/logos/MONOGRAMA BODAS DE ZINCO - DANILO E DÉBORA 2.cdr.png" alt="" width="150px">
    <p class="citacao-biblia">"Para que todos vejam, e saibam,<br>e considerem, e justamente entendam<br>que a mão do senhor fez isto."</p>
    <span>(Isaías 41:20)</span>
    <br>
    <br>
    <br>
    <img class="assinatura" src="../../../assets/logos/assinatura.png" alt="" height=65>
    <p class="text1">Convidam para a comemoração das suas<br><strong>Bodas de Zinco</strong> - 10 anos de casados</p>
    <p class="endereco-presenca">A realizar-se às <strong>16 horas e 30 minutos</strong> do dia<br><strong>21 de Dezembro de 2024, no Coliseum Eventos.</strong></p>
    <span class="traje"><strong style="font-size: 20px;">Traje: Esporte Fino</strong></span>
  </div>
  <div class="bottom-container">
    <div class="confirmation-container">
      <a href="https://listas.casasbahia.com.br/bodasdezincodeboraedanilolista" target="_blank">
        <li>Lista de Presentes</li>
      </a>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdImMspWglgsu744HmHlziMppvLvo9apYmbXMvkkGxYY-pIIQ/viewform" target="_blank">
        <!-- <img class="check-icon" src="../../../assets/Icons/check.png" alt=""> -->
        <!-- <li>Confirme sua Presença</li> -->
      </a>
      <!-- <span>⚠️<strong> Confirmações pelo link até 10/11.</strong></span> -->
      <span><strong>Confirme a presença no link abaixo:</strong></span>
      <a class="social" href="https://wa.me/5521920128771?text=Ol%C3%A1!%20Desejo%20confirmar%20a%20minha%20presen%C3%A7a%20nas%20Bodas%20de%20Zinco%20-%2010%20anos%20de%20casados%20de%20Danilo%20e%20D%C3%A9bora%20no%20dia%2021.12.2024%20%E2%9D%A4%EF%B8%8F" target="_blank" title="whatsapp">
        <lucide-icon name="message-circle-heart" [size]="60" class="my-icon"></lucide-icon> 
      </a>
    </div>
    <br>
  </div>
</div>

<div class="bottom-line"></div>


