<div id="presenca" class="presenca-container">
  <h1></h1>
  <div class="top-container">
    <img src="../../../assets/logos/logo_data.png" alt="" width="150px">
    <img src="../../../assets/logos/Detalhes - LP - D&D.png" alt="">
    <h5>Sábado, 21 de Dezembro de 2024</h5>
    <h6>Horário: 16:30</h6>
  </div>

  <div class="bottom-container">
    <a href="">
      <li>Confirme sua Presença</li>
    </a>

    <a href="https://listas.casasbahia.com.br/bodasdezincodeboraedanilolista" target="_blank">
      <li>Lista de Presentes</li>
    </a>
  </div>
</div>
