.historia-container {
  display: flex;
  justify-content: space-between; /* Distribui o espaço entre os contêineres */
  align-items: flex-start; /* Alinha os itens ao topo */
  width: 100%;
  padding: 20px; /* Espaçamento ao redor do contêiner */
  margin-bottom: -100px;
  margin-top: -50px;
}

.left-container {
  display: flex;
  flex-direction: column; /* Alinha o conteúdo verticalmente dentro dos contêineres */
  align-items: flex-start; /* Alinha o conteúdo ao início (esquerda) do contêiner */
  width: 45%;
}

.left-container h2 {
  margin: 0; /* Remove margens extras */
  padding: 10px 0; /* Espaçamento abaixo do título */
  margin-bottom: 20px;
  font-size: 35px;
}

.left-container p {
  margin: 0; /* Remove margens extras */
  font-size: 16px;
  text-align: justify;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinha a imagem ao topo */
  width: 40%;
}

.h1-container {
  text-align: center; /* Alinha os h1s ao centro */
  margin-bottom: 10px; /* Espaçamento abaixo dos h1s */
}

.right-container img {
  max-width: 100%; /* Garante que a imagem não exceda a largura do contêiner */
  height: auto; /* Mantém a proporção da imagem */
}

@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300;700&display=swap');
.spectral-light {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: normal;
}

.spectral-bold {
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: normal;
}

@media screen and (max-width: 1024px){
  .historia-container{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    margin-top: -75px;
    margin-bottom: -150px;
    max-width: 100%;
  }

  .left-container h2{
    font-size: 35px;
  }

  .left-container p{
    font-size: 25px;
  }

  .right-container img{
    margin-top: 20%;
    height: 400px;
    width: 300px;
  }
}

@media screen and (max-width: 768px){
  .historia-container {
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
  }

  .left-container, .right-container {
    width: 100%;
    padding: 10px;
  }

  .historia-img {
    width: 100%;
    max-width: 350px;
  }

  .left-container h2 {
    font-size: 2.5em;
    margin-left: 15px;
  }

  .left-container p {
    font-size: 1.3em;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: -70px;
  }

  @media screen and (max-width: 360px){
    .historia-container {
      flex-direction: column;
      align-items: center;
      margin-top: -50px;
      margin-bottom: 30px;
    }

    .left-container, .right-container {
      width: 100%;
      padding: 10px;
    }

    .historia-img {
      width: 100%;
      max-width: 350px;
    }

    .left-container h2 {
      font-size: 2.5em;
    }

    .left-container p {
      font-size: 1.1em;
      margin-bottom: -90px;
    }

  }

}
