<div id="nossa-historia" class="historia-container">
  <div class="left-container">
    <h1></h1>
    <h1></h1>
    <h2>NOSSA HISTÓRIA</h2>
    <p>
      Débora e Danilo tiveram um começo improvável. E com uma ajudinha da vida, que de forma divertida, juntou duas almas opostas em personalidade, mas que se encaixariam como se tivessem sido pensadas uma para outra. Eles se conheceram ainda crianças, e o destino tratou de, naquele momento, fazê-los seguir caminhos diferentes. Até que um dia sem muitas perspectivas, uma troca de telefones os trouxeram de volta a vida um do outro. <br><br>
      Uma mensagem. Uma risada. Um show. Um sorriso e muitos “nãos” até o sim. <br><br>
      Quase 10 anos para se reencontrarem, e mais 13 anos construindo uma história que é só deles. Às vezes, mesmo aquilo que não parece que deve ser, realmente é para acontecer. Dois destinos que aparentemente não se encaixavam, podem se transformar um no outro, na completude, na complexidade dos dias e no amor. A história dos dois, que começou lá pertinho dos anos 2000, se reescreveu em 2011, e desde então, nunca deixou de ser contada…<br><br>
      Já no dia 21 de dezembro de 2024, vocês serão parte de mais um capítulo dessa história de cumplicidade, amor e união.
    </p>

  </div>

  <div class="right-container">
    <div class="h1-container">
      <br>
      <br>
      <br>
      <br>
    </div>
    <img src="../../../assets/img/PRE WEDDING-9.jpg" alt="" width="350px">
  </div>
</div>
