.historia-container {
  display: flex;
  justify-content: space-between; /* Distribui o espaço entre os contêineres */
  align-items: flex-start; /* Alinha os itens ao topo */
  width: 100%;
  padding: 20px; /* Espaçamento ao redor do contêiner */
  margin-bottom: -100px;
  margin-top: -50px;
}

.left-container {
  display: flex;
  flex-direction: column; /* Alinha o conteúdo verticalmente dentro dos contêineres */
  align-items: flex-start; /* Alinha o conteúdo ao início (esquerda) do contêiner */
  width: 45%;
}

.left-container h2 {
  margin: 0; /* Remove margens extras */
  padding: 10px 0; /* Espaçamento abaixo do título */
  margin-bottom: 20px;
  font-size: 35px;
}

.left-container p {
  margin: 0; /* Remove margens extras */
  font-size: 20px;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinha a imagem ao topo */
  width: 40%;
}

.h1-container {
  text-align: center; /* Alinha os h1s ao centro */
  margin-bottom: 10px; /* Espaçamento abaixo dos h1s */
}

.right-container img {
  max-width: 100%; /* Garante que a imagem não exceda a largura do contêiner */
  height: auto; /* Mantém a proporção da imagem */
}

@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300;700&display=swap');
.spectral-light {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: normal;
}

.spectral-bold {
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 1024px){
  .historia-container{
    margin-top: 2%;
    margin-bottom: -10%;
  }

  .left-container h2{
    font-size: 35px;
  }

  .left-container p{
    font-size: 25px;
  }

  .right-container img{
    margin-top: 20%;
    height: 400px;
    width: 300px;
  }
}

@media (max-width: 768px){
  .historia-container{
    margin-top: 10%;
  }

  .left-container h2{
    font-size: 45px;
    text-align: center;
    margin-left: 120%;
    margin-bottom: 340px;
  }

  .left-container p{
    font-size: 40px;
    text-align: justify;
    margin-left: 10%;
    width: 600px;
  }

  .right-container img{
    margin-top: 120%;
    margin-left: 10%;
    height: 250px;
    width: 500px;
  }


}
