<div id="nossa-historia" class="historia-container">
  <div class="left-container">
    <h1></h1>
    <h1></h1>
    <h2>NOSSA HISTÓRIA</h2>
    <p>

      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nunc metus, sagittis non nibh id, porttitor pulvinar eros. Pellentesque vel velit eget mauris auctor viverra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla sagittis varius mi quis maximus. Vestibulum nulla metus, sodales ac nunc a, ultrices feugiat erat. Donec rhoncus enim non ante mollis pharetra. Maecenas at iaculis magna, eget accumsan tellus. Proin molestie risus non ante rhoncus, nec convallis purus vehicula. Vestibulum ut condimentum tortor. Vestibulum nec semper nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

      Sed ut mattis purus. Vivamus ligula felis, venenatis quis porttitor sed, egestas at risus. Nullam a metus sed orci dapibus ultrices eu vitae arcu. Etiam nec quam non mauris pellentesque euismod at in mauris. Integer eu tempus leo, et commodo massa. Morbi gravida accumsan ullamcorper. Pellentesque velit purus, commodo quis tristique sit amet, tempor nec massa. Curabitur laoreet finibus consectetur. Phasellus maximus nibh at nunc dictum, cursus congue tellus tempor. Duis id nisl tincidunt, varius velit in, tempus erat. Etiam eget congue nulla, quis pulvinar nulla.


  </div>

  <div class="right-container">
    <div class="h1-container">
      <br>
      <br>
      <br>
      <br>
    </div>
    <img src="../../../assets/img/img01.jpg" alt="" width="450px">
  </div>
</div>
