<div id="nossa-historia" class="historia-container">
  <div class="left-container">
    <h1></h1>
    <h1></h1>
    <h2>NOSSA HISTÓRIA</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nunc metus, sagittis non nibh id, porttitor pulvinar eros. Pellentesque vel velit eget mauris auctor viverra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla sagittis varius mi quis maximus. Vestibulum nulla metus, sodales ac nunc a, ultrices feugiat erat. Donec rhoncus enim non ante mollis pharetra. Maecenas at iaculis magna, eget accumsan tellus. Proin molestie risus non ante rhoncus, nec convallis purus vehicula. Vestibulum ut condimentum tortor. Vestibulum nec semper nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      Sed ut mattis purus.
    </p>

  </div>

  <div class="right-container">
    <div class="h1-container">
      <br>
      <br>
      <br>
      <br>
    </div>
    <img src="../../../assets/img/Foto Débora e Danilo 01.png" alt="" width="350px">
  </div>
</div>
